{% extends 'base.html' %}

{% block title %}Manage Menu{% endblock title %}

{% block body %}

{% for message in messages %}
<div class="alert alert-success alert-dismissable fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<!-- Add main page h1 heading -->
<div class="container text-center my-4">
    <h1>🍽️ Manage Menu</h1>
</div>

<div class='container py-4 col-md-8'>

    <!-- Change this to h2 for proper hierarchy -->
    <h2 class='text-center mb-3'>Add a Dish</h2>

    <form method='POST' action='/manage_menu' enctype="multipart/form-data" class='row g-3'
        style='display:flex; justify-content:center; align-items : center;'>
        {% csrf_token %}

        <div class="form-floating mb-3 col-md-8">
            <input type="text" name="name" class="form-control" id="name" placeholder="Enter Name of dish" required>
            <label for="name">Name of dish</label>
        </div>

        <div class="form-floating mb-3 col-md-8">
            <select name="cat" class="form-control dropdown" id="cat" required>
                <option value="" disabled selected>Select Category</option>
                <option value="pizzas">Pizzas</option>
                <option value="burgers">Burgers</option>
                <option value="rice">Rice</option>
                <option value="kebabs">Kebabs</option>
                <option value="wraps">Wraps</option>
                <option value="sides">Sides</option>
                <option value="drinks">Drinks</option>
                <option value="desserts">Desserts</option>
            </select>
            <label for="cat">Category of dish</label>
        </div>

        <div class="form-floating mb-3 col-md-8">
            <input type="number" name="price" id="dish_price" placeholder="Enter the price of dish" 
                   class="form-control" step="0.01" min="0" required>
            <label class="form-label" for="dish_price">Price (£)</label>
        </div>

        <div class="form-floating mb-3 col-md-8">
            <input type="text" name="desc" class="form-control" id="dish_desc" 
                   placeholder="Enter description of dish" maxlength="500" required>
            <label for="dish_desc">Description</label>
        </div>

        <div class="form-floating mb-3 col-md-8">
            <input type="file" name="img" id="dish_img" accept="image/*" class="form-control" required>
            <label class="form-label" for="dish_img">Upload image</label>
        </div>

        <button type='submit' class='btn btn-primary col-md-6'>🍽️ Add Dish</button>

    </form>

</div>

{% endblock body %}